.draggablePane {
  position: absolute;
  top: 0;
  bottom: 0;
  box-shadow: 1px 1px 3px rgba(131, 130, 143, 0.66);
}

.draggablePane.focused {
  /* 3 pixels "above" */
  top: 0;
  bottom: 0;
  box-shadow: 2px 3px 3px rgba(48, 100, 196, 0.66);
}
