.ppwCodeOnePropertyCrdList {
  margin: 0;
  padding: 0;
}

.ppwCodeOnePropertyCrdList .listContainer {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #4c656b;
}

.ppwCodeOnePropertyCrdList .list {
  background: transparent !important;
}

.ppwCodeOnePropertyCrdList .list li.disabled {
  color: #4c656b;
}

.ppwCodeOnePropertyCrdList .mblListItem {
  position: relative;
  overflow: hidden;
  padding: 0 8px;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: normal;
  border-style: none;
  border-width: 0;
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  color: inherit;
  font-weight: normal;
  height: inherit;
}

.ppwCodeOnePropertyCrdList .list li .mblListItemLabel {
  float: left;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: darkslategrey;
  font-weight: normal;
  font-size: 90%;
}

.ppwCodeOnePropertyCrdList .list li .deleteIcon {
  margin: 8px 0;
  padding: 0;
  float: right;
  display: block;
  width: 32px;
  height: 26px;
  line-height: 26px;
  text-align: right;
}

.ppwCodeOnePropertyCrdList .list li:first-child {
  border-top: none;
}

.ppwCodeOnePropertyCrdList .list li:last-child {
  border-bottom: none;
}

.ppwCodeOnePropertyCrdList .ppwCodeOnePropertyCrdListFields {
  padding: 4px 8px;
  border-top: 1px solid #4c656b;
  border-right: 1px solid #4c656b;
  border-bottom: none;
  border-left: 1px solid #4c656b;
}
