.ppwCodeOnePropertyCrdList {
  margin: 0;
  padding: 0;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListFields {
  display: none;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  height: 30px;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListFields.enabled {
  display: block;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListFields .comboBox {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 30px;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListFields .addButton {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #4c656b;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList li {
  cursor: default;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList li.disabled {
  color: #4c656b;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList .mblListItem {
  position: relative;
  overflow: hidden;
  padding: 0 8px;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: normal;
  border-style: none;
  border-width: 0;
  font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
  color: inherit;
  font-weight: normal;
  height: inherit;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList li .mblListItemLabel {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: darkslategrey;
  font-weight: normal;
  font-size: 90%;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList li .mblListItemRightIcon {
  display: inline-block;
  float: right;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  /* clickable */
  z-index: 99999;
  height: 18px;
  top: 2px;
  width: 20px;
  margin-right: -5px;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList li .mblListItemRightIcon .mblDomButtonRedCross.mblDomButton {
  position: relative;
  width: 10px;
  height: auto;
}

.ppwCodeOnePropertyCrdList .onePropertyCrdListContainer .onePropertyCrdListList li .mblListItemRightIcon .mblDomButtonRedCross.mblDomButton > div {
  top: 8px;
  left: 2px;
}
