.ppwCodeMultiSelect.multiSelectListContainer {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #4c656b;
}

.ppwCodeMultiSelect .multiSelectList {
  background: transparent !important;
}

.ppwCodeMultiSelect .multiSelectList li {
  cursor: pointer;
}

.ppwCodeMultiSelect .multiSelectList li.disabled {
  color: #4c656b;
  cursor: default;
}

.ppwCodeMultiSelect .multiSelectList li:last-child {
  border-bottom: none;
}

.ppwCodeMultiSelect .mblEdgeToEdgeList {
  margin: 0;
  padding: 0;
  background-color: white;
}

.ppwCodeMultiSelect .mblListItemLabel {
  position: relative;
  overflow: hidden;
  display: inline-block; /* to make ellipsis work */
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
  /* formCommons.css label, label.fixedLabel */
  color: darkslategrey;
  font-weight: normal; /* these are not labels, but values */
  font-size: 90%;
}

.ppwCodeMultiSelect .mblListItemChecked {
  color: #314e84;
}

.ppwCodeMultiSelect .mblListItem {
  position: relative;
  overflow: hidden;
  padding: 0 8px;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: normal;
}

.ppwCodeMultiSelect .mblListItemChecked .mblListItemRightIcon {
  visibility: visible;
}

.ppwCodeMultiSelect .mblListItemUnchecked .mblListItemRightIcon {
  display: none;
}

.ppwCodeMultiSelect .mblListItemRightIcon, .ppwCodeMultiSelect .mblListItemRightIcon2, .ppwCodeMultiSelect .mblListItemUncheckIcon {
  display: inline-block;
  position: relative;
  float: right;
  line-height: normal;
}

.ppwCodeMultiSelect .mblDomButtonDarkBlueCheck, .ppwCodeMultiSelect .mblDomButtonCheck {
  position: relative;
  width: 10px;
}

.ppwCodeMultiSelect.mblDomButtonDarkBlueCheck > div, .ppwCodeMultiSelect .mblDomButtonCheck > div {
  position: absolute;
  left: 0;
  top: 3px;
  width: 11px;
  height: 4px;
  -webkit-transform: scaleX(0.7) rotate(135deg);
  transform: scaleX(0.7) rotate(135deg);
  border-top-width: 1px;
  border-right-width: 2px;
  border-left-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  border-color: #314e84;
}
