.ppwCodeMultiSelect.multiSelectListContainer {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid darkgray;
}

.ppwCodeMultiSelect .multiSelectList {
    background: transparent !important;
}

.ppwCodeMultiSelect .multiSelectList li {
    cursor: pointer;
}

.ppwCodeMultiSelect .multiSelectList li.disabled {
    color: darkgray;
    cursor: default;
}

.ppwCodeMultiSelect .multiSelectList li:last-child {
    border-bottom: none;
}
