/*
  Include this css statically (not via xstyle/css), since we need it before dojo is loaded.
  The body of the page should contain:

  <div id="preloader"><div></div></div>

  An applicable logo can be added by extending the #preloader style with a background-image:

  #preloader {
    background-image: url('../img/myLogo.png');
  }

*/

@keyframes animatedBackground {
  from { background-position: 10% center; }
  to { background-position: 90% center; }
}
@-webkit-keyframes Background {
  from { background-position: 10% center; }
  to { background-position: 90% center; }
}

#preloader,
#preloader div {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#preloader {
  z-index: 998;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  animation-name: animatedBackground;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-name: animatedBackground;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

#preloader div {
  z-index: 999;
  background: url('./loading.gif') no-repeat center center;
}

